.wordleBlock
{
  
  width: 100px;
  height: 100px;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin:10px;
}

.white
{
    background-color: white;
}

.green
{
    background-color: green;
}

.orange
{
    background-color: orange;
}

.wordleTextBox
{
    display: flex;
    flex-direction: row;
    background-color: grey;
    margin:15px;
}

.message
{
    font-size: 30px;
}